@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="wraper my-[50px]">
    <p class="mx-[8px]">
        Lorem ipsum dolor sit amet. Nam dolorum dignissimos et culpa itaque ad numquam consectetur sed explicabo consequatur in facere assumenda est porro voluptatem? Vel sint maxime eos voluptatem dignissimos et expedita fugiat ut facere facere qui voluptatem magni! Ut quod galisum rem impedit perspiciatis est Quis quas ut neque rerum et facere maxime ut blanditiis porro aut quas internos.
    </p>
    <p class="mx-[8px]">
        Cam iste ratione eum aspernatur esse est nostrum quia! Et voluptates officiis est blanditiis pariatur aut deleniti reprehenderit et quia galisum et quidem internos. Sed consectetur itaque qui eaque magnam ab praesentium voluptatibus aut deleniti labore. Quo optio cupiditate qui iste consequatur et laborum iste eum Quis quibusdam.
    </p>
    <p class="mx-[8px]">
        Sed nisi pariatur eos molestias voluptatem ea consequatur facilis vel dolore labore vel dolorem esse. Eos reprehenderit quae qui corporis voluptate sit internos consectetur et voluptatum suscipit! Qui sapiente explicabo eos ipsa facere eos corrupti omnis eos quidem inventore. Eum quibusdam mollitia aut repellat reiciendis aut quis natus non iure inventore aut ipsum illum et voluptatum quis?
    </p>
</div>
