@page "/AccessDenied"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-center text-3xl text-[red] mt-[20px]">@ViewData["Title"]</h1>
    <p class="text-center mb-[20px]">You do not have access to this resource.</p>
</header>
