@page "/ForgotPassword"
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Resetowanie hasłą";
}

<div class="grid grid-cols-12 mb-[50px]">
    <div class="col-span-1"></div>
    <div class="col-span-10 md:col-span-12">
        <div class="my-[36px] bg-[#222121] mb-[-125px] relative z-10 shadow-[0_8px_17px_0_rgba(0,0,0,20%),0_6px_20px_0_rgba(0,0,0,19%)] sm:p-7 sm:pt-[50px]">
            <form class="overflow-hidden" novalidate="novalidate" id="account" method="post">
                <div class="flex">
                    <div class="relative w-3/6 float-left col:hidden before:content-[''] before:w-full before:h-full before:bg-[#131313] before:z-[-1] before:select-none before:pointer-events-none before:absolute before:opacity-[.3]">
                        <img src="https://v4.api.mganczarczyk.pl/v4/ras/moescape/redirect?safety" alt="a" class="max-h-[500px] h-full w-full object-cover object-center z-[-2]" />
                    </div>
                    <div class="p-[50px] relative w-3/6 float-left col:w-full col:p-[20px] self-center">
                        <div class="relative w-full float-left mb-[25px]">
                            <span class="absolute top-[-11px] pointer-events-none left-[7px] text-sm px-[10px] block bg-[#222121]">
                                @Html.DisplayNameFor(x => x.Input.Email)
                            </span>
                            <span class="absolute top-[-11px] pointer-events-none right-[7px] text-sm px-[10px] block bg-[#222121] text-red-500">
                                <span asp-validation-for="Input.Email"></span>
                            </span>
                            <input required class="w-full bg-transparent h-[50px] border border-[#363636] text-[#D8D8D8] transition-all pl-[25px] focus:outline-0 focus:shadow-none focus:border-[#59C378] focus:bg-transparent outline-none" asp-for="Input.Email">
                        </div>

                        <div class="text-center w-full mb-[10px]">
                            <input type="submit" value="Resetuj hasło" class="cursor-pointer bg-[#222121] text-[#fff] inline-block py-[12px] px-[22px] border border-[#59C378] rounded-[55px] capitalize transition-all hover:bg-[#59C378] hover:border-transparent" />
                        </div>

                        <div class="mb-[16px] text-center">
                            @foreach (var modelState in ViewData.ModelState.Values) {
                                foreach (var error in modelState.Errors) {
                                    <p class="text-red-600 m-0 mb-[4px]">@error.ErrorMessage</p>
                                }
                            }
                        </div>

                        <div>
                            <p class="mb-[10px]">
                                <a asp-page="Login">A może jednak pamiętasz hasło?</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-span-1"></div>
</div>
<p class="invisible mt-[100px]">&nbsp;</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
